.profile {
  width: 100%;
  max-width: 600px;   // largeur type Twitter
  margin: 0 auto;     // centrage horizontal
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: #ffffff;
}