.layout {
  display: flex;
  min-height: 100vh; /* occupe tout l’écran */
  background-color: #f5f8fa;

  &__content {
    flex: 1;
    max-width: 600px; /* largeur centrale */
    width: 100%;
    margin: 0 auto;    /* centre horizontalement */
    padding: 20px;
    box-sizing: border-box;
  }

  /* ====================== */
  /* MOBILE */
  /* ====================== */
  @media (max-width: 768px) {
    flex-direction: column;

    &__content {
      max-width: 100%;
      margin-left: 0;
      padding: 16px;
      padding-bottom: 90px; /* espace pour bottom nav */
    }
  }
}