.layout {
  display: flex;
  min-height: 100vh;
  background-color: #f5f8fa;

  &__content {
    flex: 1;
    margin-left: 260px;
    padding: 20px 40px;
    max-width: 800px;
    width: 100%;
  }
}

/* Tablet */
@media (max-width: 1200px) {
  .layout__content {
    margin-left: 80px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .layout__content {
    margin-left: 0;
    padding-bottom: 90px; // espace pour bottom nav
  }
}