.tweet-card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  &__avatar {
    width: 48px;
    height: 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 600;
  }

  &__username {
    color: #657786;
  }

  &__actions {
    margin-left: auto;
    display: flex;
    gap: 4px;

    .MuiIconButton-root {
      color: #1da1f2;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(29, 161, 242, 0.1);
      }
    }
  }
}