.tweet-card__actions {
  display: flex;
  gap: 20px;

  &__action {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #657786;

    &:hover {
      color: #1da1f2;
    }

    svg {
      font-size: 18px;
    }

    p, span {
      margin: 0;
      font-size: 0.85rem;
    }
  }
}